.mw-scratch-confirmaccount-actions-list {
	list-style-type: none;
	padding-left: 0;
}

.mw-scratch-confirmaccount-actions-list li {
	display: inline;
	margin-right: 10px;
}

.mw-scratch-confirmaccount-verifcode {
	font-weight: bold;
}

.mw-scratch-confirmaccount-rc-awaiting {
	padding: 3px;
	margin: 5px;
	border: 1px solid #990000;
	background-color: #f9f9f9;
}

.mw-scratch-confirmaccount-actionentry {
	border: 1px solid #000;
	margin-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

.mw-scratch-confirmaccount-actionentry h5, .mw-scratch-confirmaccount-actionentry p {
	margin-bottom: 0 !important;
}

.mw-scratch-confirmaccount-textarea {
	resize: vertical;
}

.mw-scratch-confirmaccount-bigselect {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mw-scratch-confirmaccount-alt-warning {
	color: red;
	font-weight: bold;
}
.mw-scratch-confirmaccount-click-copy {
	font-size: 16px;
	font-weight: bold;
}
